[submodule "account-payment"]
	path = account-payment
	url = https://github.com/quilsoft-org/account-payment.git
	branch = 13.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/quilsoft-org/account-financial-tools.git
	branch = 13.0
[submodule "odoo-argentina"]
	path = odoo-argentina
	url = https://github.com/quilsoft-org/odoo-argentina.git
	branch = 13.0
[submodule "odoo-argentina-ee"]
	path = odoo-argentina-ee
	url = https://github.com/quilsoft-org/odoo-argentina-ee.git
	branch = 13.0
[submodule "aeroo_reports"]
	path = aeroo_reports
	url = https://github.com/ingadhoc/aeroo_reports.git
	branch = 13.0
